<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles.css?v=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app">
<div  ng-controller='MainCtrl'>
    <div class="row">
        <div class="col-md-11">
            <div class="row choices-section" ng-show="selectedQuestion">
                <div class="question">Question {{questionCount}}/{{totalNumOfQs}}: {{currentQuestion.question}}</div>
                <img class='question image' ng-src="{{currentQuestion.image}}">
                <div class="panel panel-default" ng-class='{active:clicked==="a"}' ng-switch on="currentQuestion.choices.type" ng-click="choiceSelection('a')">
                    <div class="description panel-body" ng-switch-when="text">A. {{currentQuestion.choices.a}}</div>
                    <img class="description image" ng-switch-when="image" ng-src="{{currentQuestion.choices.a}}">
                </div>
                <div class="panel panel-default" ng-class='{active:clicked==="b"}' ng-switch on="currentQuestion.choices.type" ng-click="choiceSelection('b')">
                    <div class="description panel-body" ng-switch-when="text">B. {{currentQuestion.choices.b}}</div>
                    <img class="description image" ng-switch-when="image" ng-src="{{currentQuestion.choices.b}}">
                </div>
                <div class="panel panel-default" ng-class='{active:clicked==="c"}' ng-switch on="currentQuestion.choices.type" ng-click="choiceSelection('c')">
                    <div class="description panel-body" ng-switch-when="text">C. {{currentQuestion.choices.c}}</div>
                    <img class="description image" ng-switch-when="image" ng-src="{{currentQuestion.choices.c}}">
                </div>
                <div class="panel panel-default" ng-class='{active:clicked==="d"}' ng-switch on="currentQuestion.choices.type" ng-click="choiceSelection('d')">
                    <div class="description panel-body" ng-switch-when="text">D. {{currentQuestion.choices.d}}</div>
                    <img class="description image" ng-switch-when="image" ng-src="{{currentQuestion.choices.d}}">
                </div>
            </div>
        </div>
        <div class="col-md-1" ng-show="selectedQuestion">
            <button class="glyphicon glyphicon-menu-right" aria-hidden="true" ng-click="nextQuestion(clicked)" ng-disabled='clicked===""'>
            </button>
        </div>
    </div>
    <div class="result" ng-show="!selectedQuestion">
        <div class="total-score">
            <div class="correctAnswer">
                Total Correct Points: {{points}}
            </div>

            <div class="correctAnswer">
                Total Number of Questions: {{totalNumOfQs}}
            </div>

            <div class="correctAnswer">
                Test Score: {{totalScore}}%
            </div>
        </div>
        <a class='restart' href="https://dl.dropboxusercontent.com/u/245629699/OhDriversExam/index.html">Restart (重新開始)</a>
        <div class="row test-score-section"  ng-repeat="completedQuestion in completedQuestions">
            <div class="question">Question: {{completedQuestion.question}}</div>
            <img class='question image' ng-src="{{completedQuestion.image}}">
            <div class="panel panel-default" ng-class='{selected:completedQuestion.choices.selectedAnswer===completedQuestion.choices.a,correct:completedQuestion.choices.a===completedQuestion.choices.answer,incorrect:completedQuestion.choices.a!==completedQuestion.choices.answer}'>
                <div class="description panel-body" ng-switch on="completedQuestion.choices.type">
                    <span class="glyphicon glyphicon-ok" ng-if="completedQuestion.choices.selectedAnswer==completedQuestion.choices.answer && completedQuestion.choices.selectedAnswer==completedQuestion.choices.a"></span>
                    <span class="glyphicon glyphicon-remove" ng-if="completedQuestion.choices.selectedAnswer!==completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.a"></span>
                    <div ng-switch-when="text">A. {{completedQuestion.choices.a}}</div>
                    <img ng-switch-when="image" ng-src="{{completedQuestion.choices.a}}">
                </div>
            </div>
            <div class="panel panel-default" ng-class='{selected:completedQuestion.choices.selectedAnswer===completedQuestion.choices.b,correct:completedQuestion.choices.b===completedQuestion.choices.answer,incorrect:completedQuestion.choices.b!==completedQuestion.choices.answer}'>
                <div class="description panel-body" ng-switch on="completedQuestion.choices.type">
                    <span class="glyphicon glyphicon-ok" ng-if="completedQuestion.choices.selectedAnswer===completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.b"></span>
                    <span class="glyphicon glyphicon-remove" ng-if="completedQuestion.choices.selectedAnswer!==completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.b"></span>
                    <div ng-switch-when="text">B. {{completedQuestion.choices.b}}</div>
                    <img ng-switch-when="image" ng-src="{{completedQuestion.choices.b}}">
                </div>
            </div>
            <div class="panel panel-default" ng-class='{selected:completedQuestion.choices.selectedAnswer===completedQuestion.choices.c,correct:completedQuestion.choices.c===completedQuestion.choices.answer,incorrect:completedQuestion.choices.c!==completedQuestion.choices.answer}'>
                <div class="description panel-body" ng-switch on="completedQuestion.choices.type">
                    <span class="glyphicon glyphicon-ok" ng-if="completedQuestion.choices.selectedAnswer===completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.c"></span>
                    <span class="glyphicon glyphicon-remove" ng-if="completedQuestion.choices.selectedAnswer!==completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.c"></span>
                    <div ng-switch-when="text">C. {{completedQuestion.choices.c}}</div>
                    <img ng-switch-when="image" ng-src="{{completedQuestion.choices.b}}">
                </div>
            </div>
            <div class="panel panel-default" ng-class='{selected:completedQuestion.choices.selectedAnswer===completedQuestion.choices.d,correct:completedQuestion.choices.d===completedQuestion.choices.answer,incorrect:completedQuestion.choices.d!==completedQuestion.choices.answer}'>
                <div class="description panel-body" ng-switch on="completedQuestion.choices.type">
                    <span class="glyphicon glyphicon-ok" ng-if="completedQuestion.choices.selectedAnswer===completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.d"></span>
                    <span class="glyphicon glyphicon-remove" ng-if="completedQuestion.choices.selectedAnswer!==completedQuestion.choices.answer&&completedQuestion.choices.selectedAnswer===completedQuestion.choices.d"></span>
                    <div ng-switch-when="text">D. {{completedQuestion.choices.d}}</div>
                    <img ng-switch-when="image" ng-src="{{completedQuestion.choices.d}}">
                </div>
            </div>
            <div class="panel panel-default" ng-switch on="completedQuestion.choices.type">Selected Answer(所選答案):
                <div class="description selected panel-body" ng-switch-when="text">{{completedQuestion.choices.selectedAnswer}}</div>
                <img ng-switch-when="image" ng-src="{{completedQuestion.choices.selectedAnswer}}">
            </div>
            <div class="description comment panel panel-default">
                <div class="description panel-body">Comment: {{completedQuestion.comment}}</div>
            </div>
            <div class="description answer panel panel-default" ng-switch on="completedQuestion.choices.type">Answer(答案):
                <div class="panel-body" ng-switch-when="text">{{completedQuestion.choices.answer}}</div>
                <img ng-switch-when="image" ng-src="{{completedQuestion.choices.answer}}">
            </div>
        </div>
    </div>
</div>

<script src="jquery-1.11.2.min.js"></script>
<script src="jquery-migrate-1.2.1.min.js"></script>
<script src="underscore-min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>